/*------------ GENERAL STYLES COMPONENTS ------------- */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*------------------------------------- */
/*  REUSABLE COMPONENTS */
/*------------------------------------- */

.row {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 80px 0px;
}

/*------------ HEADINGS ------------- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0 0 40px 0;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: #fff;
}

h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
    text-align: center;
}

h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.box {
    padding: 1%;
    /* text-align: center; */
}

.clearfix:after {
    content: '';
    clear: both;
    height: 0px;
    width: 0px;
    display: block;
    visibility: hidden;
}
/*------------ PARAGRAPHS ------------- */

.long-copy {
    width: 70%;
    margin: 0 auto;
    line-height: 145%;
    text-align: center;
}

.box p {
    font-size: 0.9rem;
    line-height: 145%;
}

/*------------ ICONS ------------- */

.icon-big {
    font-size: 3.2rem;
    color: #e67e22;
    display: block;
    margin: 12px 0;
}

.icon-small {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    color: #e67e22;
    font-size: 120%;
    vertical-align: middle;
    margin-top: -6px;
}

/*------------ BUTTONS ------------- */

.btn {
    white-space: nowrap;
}

.btn:link,
.btn:visited,
input[type='submit'] {
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 20px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type='submit'] {
    background-color: #e67e22;
    margin-right: 0.6rem;
}

.btn-full:hover,
.btn-full:active,
input[type='submit']:hover,
input[type='submit']:active {
    background-color: #cf6d17;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border-color: #cf6d17;
    background-color: #cf6d17;
    color: #fff;
}

/*------------ LINKS ------------- */
a:visited,
a:link {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
}

/*--------------------------------------------------- */
/*  HEADER */
/*-------------------------------------------------- */

header {
    height: 100vh;
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.7)),
            to(rgba(0, 0, 0, 0.7))
        ),
        url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    float: left;
    height: 110px;
    width: auto;
}

.logo-black {
    float: left;
    height: 60px;
    width: auto;
    display: none;
}

.sticky:not(.activated-mobile-menu) .logo-black {
    display: block;
}

.sticky:not(.activated-mobile-menu) .logo {
    display: none;
}

.sub-header {
    padding: 1rem 0;
    z-index: 999;
}

.sticky:not(.activated-mobile-menu) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.4rem;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 2px 2px #efefef;
}

/* main nav */
.main-nav {
    float: right;
}

.main-nav ul {
    line-height: 6rem;
    list-style: none;
}

.main-nav ul li {
    display: inline-block;
    line-height: normal;
    margin-right: 0.75rem;
    cursor: pointer;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border-bottom: 2px solid transparent;
    padding: 0.5rem;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.sticky:not(.activated-mobile-menu) .main-nav ul {
    line-height: 1rem;
    margin-top: 20px;
}

.sticky:not(.activated-mobile-menu) .main-nav li a:link,
.sticky:not(.activated-mobile-menu) .main-nav li a:visited {
    color: #555;
    padding-bottom: 24px;
}

.btn-mobile-nav {
    display: none;
    background: none;
    border: 0;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1140px;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*--------------------------------------------------- */
/*  FEATURES */
/*-------------------------------------------------- */
section.features .long-copy {
    margin-bottom: 30px;
}

/*--------------------------------------------------- */
/*  MEALS */
/*-------------------------------------------------- */

section.meals-showcase {
    padding: 0 20px;
}

section.meals-showcase .meal-photo {
    width: 25%;
    float: left;
    overflow: hidden;
    background: #000;
}

section.meals-showcase .meal-photo img {
    width: 100%;
    height: auto;
    display: block;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0.75;
}

section.meals-showcase .meal-photo:hover img {
    -webkit-transform: scale(1.08) rotate(3deg);
    -ms-transform: scale(1.08) rotate(3deg);
    transform: scale(1.08) rotate(3deg);
    opacity: 1;
}

/*--------------------------------------------------- */
/*  HOW IT WORKS */
/*-------------------------------------------------- */
.steps {
    background-color: rgb(241, 241, 241);
}

.steps-box {
    padding: 0 2%;
    float: left;
}

.steps-box:first-child {
    text-align: right;
}

.steps-box:last-child {
    text-align: left;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 14px;
}

.works-step .step-num {
    /* display: inline-block; */
    width: 55px;
    height: 55px;
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    text-align: center;
    line-height: 51px;
    float: left;
    margin-right: 15px;
}
.buttons-app {
    margin-top: 30px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 40px;
    width: auto;
}

/*--------------------------------------------------- */
/*  CITIES */
/*-------------------------------------------------- */

.cities .box img {
    width: 100%;
    margin-bottom: 10px;
}

.city-feature {
    margin-top: 6px;
}

/*--------------------------------------------------- */
/*  TESTIMONIALS */
/*-------------------------------------------------- */

.testimonials {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('img/back-customers.jpg');
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.8)),
            to(rgba(0, 0, 0, 0.8))
        ),
        url('img/back-customers.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('img/back-customers.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(248, 246, 246);
}

blockquote {
    font-style: italic;
    position: relative;
    margin-top: 20px;
}

blockquote:before {
    content: '\201C';
    display: block;
    position: absolute;
    top: -25px;
    left: -18px;
    font-size: 3rem;
    line-height: 145%;
}

blockquote cite {
    display: block;
    margin-top: 15px;
}

blockquote cite img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

/*--------------------------------------------------- */
/*  TESTIMONIALS */
/*-------------------------------------------------- */

.plans {
    background-color: rgb(241, 241, 241);
}
.plan {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 2px rgb(235, 235, 235);
    box-shadow: 2px 2px 2px rgb(235, 235, 235);
}

.plan-section {
    padding: 15px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.plan .total-price {
    font-size: 2.5rem;
    font-weight: 100;
    color: #e67e22;
    margin-bottom: 10px;
}

.plan .period-plan {
    font-size: 0.9rem;
}

.plan .price-per-meal {
    font-size: 0.8rem;
}

.plan ul {
    list-style-type: none;
}

.plan ul li {
    padding: 8px 0;
    font-size: 0.9rem;
}
.plan-price {
    background-color: #fcfcfc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.plan-action {
    text-align: center;
    border-bottom: 1px solid transparent;
    padding: 30px;
}

/*--------------------------------------------------- */
/*  CONTACT */
/*-------------------------------------------------- */

#contact-us-form {
    width: 50%;
    margin: 0 auto;
}

#contact-us-form *:focus {
    outline: 0;
}

input,
select,
textarea {
    border: 1px solid #ccc;
}

input,
select,
textarea {
    padding: 7px;
    font-size: 0.8rem;
}
input[type='text'],
input[type='email'],
select,
textarea {
    width: 100%;
}

textarea {
    height: 100px;
}

input[type='submit'] {
    border: 1px solid #e67e22;
    font-weight: 300;
}

/*--------------------------------------------------- */
/*  FOOTER */
/*-------------------------------------------------- */

.main-footer {
    background-color: #333;
    font-size: 0.9rem;
    padding: 10px;
    color: #888;
}

.main-footer-nav,
.social-links {
    text-decoration: none;
    list-style: none;
}

.main-footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 10px;
}
.main-footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.main-footer-nav li a:link,
.main-footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}

.main-footer-nav {
    float: left;
}
.social-links {
    float: right;
}

.social-links i {
    font-size: 1.2rem;
}

/*--------------------------------------------------- */
/*  FOOTER */
/*-------------------------------------------------- */
.js--wp {
    opacity: 0;
    /* transition: 0.5s; */
    /* visibility: hidden; */
}

.js--wp-2 {
    /* transform: translateY(60%); */
    /* animation-duration: 1s; */
}

.animate__animated {
    opacity: 1;
    /* visibility: visible; */
}
